

.root{


}

#leftSplit{
    -fx-background-image: url('https://image.freepik.com/free-photo/bunch-delicate-lavender-flowers-forming-frame-pink-background_23-2147847682.jpg')
}

#rightSplit{
    -fx-background-image: url('https://image.freepik.com/free-photo/bunch-delicate-lavender-flowers-forming-frame-pink-background_23-2147847682.jpg');
}



#labelDiff,#labelChar{
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

#anchor{

}

#anchorGali{

}

#anchorDana{

}

#anchorIzhar{

}

#anchorTrophy{
}

.label {
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


Button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#3f5efb, #fc466b);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}