

.root{
    -fx-background-image: url('https://cdn1.vectorstock.com/i/1000x1000/01/15/show-or-dance-floor-background-with-vector-6510115.jpg');
    -fx-background-color: bisque;
}

#label1,#label12,#label11,#label2,#label21,#label22,#label3,#label32,#label31,#label4,#label41,#label42,#label5,#label51,#labe52,#label6,#label61,#label62{
    -fx-text-fill: 	#4B0082;
}


.label {
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



Button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}


